<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button class="logo" routerLink="/">App Challenge</button>
    <span class="example-spacer"></span>
    <button mat-button routerLink="/albums">Albums</button>
    <span class="example-spacer"></span>
    <button mat-button routerLink="/posteos">Posteos</button>
    <span class="example-spacer"></span>
    <button mat-button routerLink="/usuarios">Usuarios</button>
    <span class="example-spacer"></span>
    <button mat-button routerLink="/todos">TODOs</button>
    <span class="example-spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>
