.example-card {
    max-width: 300px;
    margin: 1%;
  }
.center{ 
    font-size:35px;
    color: #673ab7;
}
div{
    display: column;
    text-align: center;
}
.text3{ 
    font-size: 20px; 
    font-weight:400;
    color: #673ab7;
}