<div class="height">
<div >
    <h1 class="text">Bienvenidos a nuestro Blog</h1>
</div>
<mat-grid-list cols="2" rowHeight="4:1" >
    <mat-grid-tile><button mat-button color="primary" class="grid" routerLink="/albums">Albums</button></mat-grid-tile>
    <mat-grid-tile><button mat-button color="primary" class="grid" routerLink="/posteos">Posteos</button></mat-grid-tile>
    <mat-grid-tile><button mat-button color="primary" class="grid" routerLink="/usuarios">Usuarios</button></mat-grid-tile>
    <mat-grid-tile><button mat-button color="primary" class="grid" routerLink="/todos">TODOs</button></mat-grid-tile>
</mat-grid-list>
</div>
