<div>
  <mat-toolbar>
    <h1 class="center">Fotos del Album</h1>
  </mat-toolbar>
<mat-card class="example-card" *ngFor="let photos of allPhotos">
    <mat-card-header>
      <mat-card-title>Título:<br/> {{photos.title}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src={{photos.url}} alt="">
    <button mat-button color="primary" (click)="eliminar(photos, photos.id)">Eliminar</button>
  </mat-card>
</div>
<div><button mat-button color="primary" (click)="volverAlbums()">Volver</button></div>
